@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{
    Layout = "_BaseLayout.cshtml";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Actor" asp-action="List">Actors</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Reviews">Reviews</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="" asp-action="">Admin</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Movie" asp-action="List">Movies</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Actor" asp-action="List">Actors</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Genre" asp-action="List">Genres</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Director" asp-action="List">Directors</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Distributor" asp-action="List">Distributors</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Rating" asp-action="List">Ratings</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="List">Users</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="History" asp-action="MoviesHistory">History</a>
                                </div>
                            </li>
                        }

                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
</footer>

@await RenderSectionAsync("Scripts", required: false)

