@model ReviewViewModel

@{
    ViewData["Title"] = "Create Review";
}

<h1>@ViewData["Title"]</h1>

<div class="row shadow my-4">
    <div class="col-md-4 p-4">
        <form asp-action="CreateReview">
            @Html.HiddenFor(model => model.MovieId)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea rows="5" asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
